<h2>Administration</h2>
<h4>Experience</h4>
<ul class="nav nav-pills">
	<li><%= link_to "All Experiences", experiences_path %></li>
	<li><%= link_to "Create Experience", new_experience_path %></li>
</ul>
<h4>Users</h4>
<ul>
  <li><%= link_to "Users", users_path %></li>
</ul>