<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, {:class => "redactor"} %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, {:class => "redactor"} %>
  </div>

    <div class="field">
      <%= f.label :primary_image %><br />
      <%= f.text_field :primary_image %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
