<h1>Listing experiences</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Image</th> -->
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @experiences.each do |experience| %>
    <tr class="<%= cycle('list_line_odd','list_line_even') %>">
      <!-- <td><%= image_tag(experience.primary_image, class: 'list_image') %></td> -->
      <td>
        <div><%= link_to experience.title, experience %></div>
        <div><%= experience.description %></div>
      </td>
      <td>
        <ul class="nav nav-pills">
          <li>
            <%= link_to 'Edit', edit_experience_path(experience) %>
          </li>
          <li>
            <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Experience', new_experience_path %>
