-# Contains the following sections
-# breadcrumbs - show where the user is right now TODO: may be this will be refactored into a common helper
.header
	%h1= @experience.title
.breadcrumbs
	<a href="#">Home</a> › <a href="#">Destination</a> › 
	= @experience.title
.description
	= @experience.description.html_safe
.inner-content
	= @experience.body.html_safe
.experience-main-media
	= link_to image_tag(@experience.primary_image, :border=>0, :size=> "1200x500"), :class => 'featurette-image pull-right'
-#= link_to 'Edit', edit_experience_path(@experience) |
-#link_to 'Back', experiences_path %>
