<%#
 Contains the following sections
 * breadcrumbs - show where the user is right now TODO: may be this will be refactored into a common helper
 %>
<div class="header">
  <h1><%= @experience.title %></h1>
</div>
<div class="breadcrumbs">
  <a href="#">Home</a> › <a href="#">Destination</a> › <%= @experience.title %>
</div>
<div class="description">
  <%= @experience.description.html_safe %>
</div>
<div class="inner-content">
  <%= @experience.body.html_safe %>
</div>
<div class="experience-main-media">
  <%= link_to image_tag(@experience.primary_image, :border=>0, :size=> "1200x500"), :class => 'featurette-image pull-right' %>
</div>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
