<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>
<p>
  <b>Body:</b>
  <%= @activity.body %>
</p>
<p>
  <b>Inseason:</b>
  <%= @activity.inSeason %>
</p>

<p>
  <b>Price:</b>
  <%= @activity.price %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
