-# contains two bars, top contains logo, login logout and search box
-# second contains links to immediate sections of the website

.row
  .span3.brand
    %h1= link_to "88yaks.com", root_path, :class => 'brand'
  .span3
    .nav.nav-pills
      - if user_signed_in?
        %li= link_to('Logout', destroy_user_session_path, :method=>'delete')
        %li= link_to('Edit account', edit_user_registration_path)
        - if current_user.has_role? :admin
          %li= link_to('Admin', :controller => "/admin")
      - else
        %li= link_to('Login', new_user_session_path)
        %li= link_to('Sign up', new_user_registration_path)
  .span6
    %form.navbar-form.pull-right
      %input.input-medium.search-query{:type => "text"}
      %button.btn{:type => "submit"} Search
.navbar
  .navbar-inner
    %ul.nav
      %li 
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Destinations
      %li
        %a{:href => "#"} Things to do
      %li
        %a{:href => "#"} Facts about Nepal
      %li
        %a{:href => "#"} Getting here
      %li
        %a{:href => "#"} Getting around
      %li
        %a{:href => "#"} Accomodations