<!DOCTYPE html>
<html>
  <head>
    <title>88Yaks</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%#= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/navigation' %>
      <div class="row content">
        <div class="span12">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
        <!--
        <div class="span3">
          <h6>About Us</h6>
          Lorem Text for now
        </div>
        -->
      </div>
    </div> <!-- /.container ->
  </body>
</html>